---
layout: page
title: Categories🗂
permalink: /categories/
---
<div id="archives">
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    <a name="{{ category_name | slugize }}"></a>
    <h3 class="category-head">{{ category_name }}</h3>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <span><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></span>
      <span style="color: gray; font-size: small;" class="post-date">{{post.date | date_to_long_string }}</span>
    </article>
    {% endfor %}
  </div>
  {% endfor %}
</div>