<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130245279-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130245279-5');
    </script>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="b659a30674ad44210dfcace94f379d9f5fe48f25"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <!-- <link href="/assets/css/syntax.css", rel="stylesheet" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/assets/minima-social-icons.svg"> -->
    <!-- <link href="//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css" rel="stylesheet" /> -->
    <!-- <link href="https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css" rel="stylesheet" type="text/css"> -->
    <!-- <link href="/assets/css/d2coding-ligature.css" rel="stylesheet" type="text/css"> -->
    <link href="/assets/css/d2coding.css" rel="stylesheet" type="text/css">
    <meta name="google-site-verification" content="aSSHEchLQce__GmLQpDL1ugfKy4c7itn8yrSqQLqD-A" />
    
    <!-- 404 redirect -->
    <!-- {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %} -->
    {% if page.image %}
      <meta property="og:image" content="/assets/images/spongebob.png">
    {% else %}
      <meta property="og:image" content="/assets/images/spongebob.png">
    {% endif %}
    
    {% seo %}
  </head>
  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" rel="author" href="/">{{site.title}}</a>
        <nav class="site-nav">
          <div class="trigger">
            <a class="page-link" href="/about/">PROFILE</a>
            <a class="page-link" href="/categories/">CATEGORIES</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          {{ content }}
          {% include ad.html %}
      </div>
    </main>
  </body>
</html>