---
layout: default
---
<h1>{{page.title}}</h1>
<div class="post-categories">
     {% if post %}
       {% assign categories = post.categories %}
     {% else %}
       {% assign categories = page.categories %}
     {% endif %}
     {% for category in categories %}
     <div style="float: right;">
          <span>Categories:</span>&nbsp;<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
     </div>
     {% unless forloop.last %}&nbsp;{% endunless %}
     {% endfor %}

<p class="post-meta" ><time class="dt-published" itemprop="datePublished">{{ page.date |  date: "%Y-%m-%d" }}</time></p>
<p></p>
<p></p>
<p></p>

</div>


{{ content }}

<html>
<head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130245279-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130245279-5');
</script>

  </head>
  <body>
        <script src="https://utteranc.es/client.js"
        repo="umanking/blog-comment"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-2431823363518805"
             data-ad-slot="7662767757"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 수평형 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2431823363518805"
             data-ad-slot="8779898875"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
  </body>
</html>