---
layout: default
---
<h1>{{page.title}}</h1>
<!-- <div class="post-categories">
     {% if post %}
       {% assign categories = post.categories %}
     {% else %}
       {% assign categories = page.categories %}
     {% endif %}
     {% for category in categories %}
     <div style="float: right;">
          <span>Categories:</span>&nbsp;<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
     </div>
     {% unless forloop.last %}&nbsp;{% endunless %}
     {% endfor %} -->

     <p class="post-meta">
          

          
          
          
          <!-- dateTime -->
          </br>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>
          {% if page.last_modified_at %}
          <!-- Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%Y-%m-%d" }}</time> -->
          {% endif %}
          
          <!-- author -->
          {% if page.author %}
          ∙ <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
           <img src="https://s.gravatar.com/avatar/2b5f147e3d1bbe08b831c426a3153e45?s=50" class="gravatar" alt="Avatar" style="border-radius: 50%;">
          {% endif %}    


          <!-- category -->
          </br>
          {% for category in categories %}
          <span itemprop="category">Category: </span>&nbsp;<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
           
     </p>
     <br>
<!-- </div> -->
<!-- {% include nav-breadcrumbs.html %} -->
{{ content }}
<!-- {% include buyMeACoffee.html %} -->
<script src="https://utteranc.es/client.js"
     repo="umanking/blog-comment"
     issue-term="pathname"
     theme="github-light"
     crossorigin="anonymous"
     async>
</script>
{% include ad.html %}



